<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mage_testimonials_email">
        <observer name="email_send" instance="Mage\Testimonials\Observer\Mail" />
    </event>
</config>