<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mage_testimonials_display_text">
        <observer name="testimonials_display" instance="Mage\Testimonials\Observer\ChangeDisplayText" />
    </event>
</config>