@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/bodoni.woff') format('woff'), url('../fonts/bodoni.ttf')  format('truetype'), url('../fonts/bodoni.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    color: #494949;
}
.top-section{
    width: 100%;
    height: 381px;
    background: url("../images/top_section.jpg") no-repeat;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.block-search input{
    padding-top: 2px;
    padding-bottom: 2px;
}
.block-search input::placeholder{
    color:  #c6c6c6;
}
.block-search .action.search{
    opacity: 1;
}
.block-search .action.search:before{
    content: '';
    width: 19px;
    height: 19px;
    background: url("../images/Search.png") no-repeat;
    margin-top: 6px;
}
.section-title{
    font-family: 'Bodoni';
    font-size: 47px;
    color: #494949;
    font-weight: 300;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.section-subtitle{
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding: 0 40px;
    display: inline-block;
}
.section-subtitle:before{
    content: '';
    position: absolute;
    width: 33px;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #494949;
}
.section-subtitle:after{
    content: '';
    position: absolute;
    width: 33px;
    height: 1px;
    top: 50%;
    right: 0;
    background-color: #494949;
}
.top-section-text{
    text-align: center;
    margin-top: 111px;
    margin-right: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-shop-button{
    border: 2px solid #555;
    width: 177px;
    color:  #494949;
    font-size: 18px;
    height: 53px;
    display: inline-block;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 18px;
}
.section-shop-button:hover{
    color: #494949;
    text-decoration: none;
}
.product-item .tocart{
    background-color:  #ffa800;
    border-color: #ffa800;
    text-transform: uppercase;
    font-weight: 700;
    width: 139px;
    height: 39px;
}
.product-item .tocart:hover{
    background-color:  #ff7e00;
    border-color: #ff7e00;
}
.bottom-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.bottom-section .left-part{
    background: url("../images/left_part.jpg") no-repeat;
    width: 620px;
    height: 511px;
    display: flex;
    align-items: flex-end;
}
.bottom-section .right-part{
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bottom-section .right-part-top{
    background: url("../images/top.jpg") no-repeat;
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-section .right-part-left{
    background: url("../images/sale.jpg") no-repeat;
    width: 300px;
    height: 242px;
}
.bottom-section .right-part-right{
    background: url("../images/shipping.jpg") no-repeat;
    width: 300px;
    height: 242px;
    color: #fff;
    display: flex;
}
.bottom-section .right-part-right div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.right-part-right div span{
    font-size: 14px;
    font-weight: 400;
    text-transform: initial;
}
.bottom-section .left-part-text{
    width: 300px;
    color: #fff;
    margin-bottom: 60px;
    margin-left: 60px;
}
.bottom-section .left-part-text p{
    margin-bottom: 0;

}
.bottom-section .left-part-text .section-title{
    color: #fff;
    margin-left: -7px;
    letter-spacing: -3.5px;
}
.bottom-section .left-part-text .section-shop-button{
    color: #fff;
    border-color: #fff;
}
.bottom-section .section-title{
    font-size: 48px;
    color: #fff;
    margin-top: 95px;
    line-height: 40px;
}
.bottom-section .section-subtitle{
    color: #fff;
    text-transform: uppercase;
    padding: 0 50px;
    font-weight: 700;
    letter-spacing: 2px;
}
.bottom-section .right-part .section-title{
    font-size: 32px;
    margin-bottom: 0;
}
.bottom-section .section-subtitle:before,.bottom-section .section-subtitle:after{
    height: 2px;
    background-color: #fff;
    width: 36px;
}

.copyright{
    background-color: #f4f4f4;
    text-align: left;
    color:  #919191;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.copyright .footer.content{
    padding: 20px;
    border-top: 1px solid #e3e3e3;
}
.header.content{
    display: flex;
    padding: 18px 20px;
    align-items: center;
}
.logo{
    margin: 0 auto;
    order: 2;
}
.block-search{
    order: 1;
    padding-left: 0;
}
.header.links{
    order: 3;
    background: url("../images/face.png") no-repeat left center;
    display: flex;
    flex-wrap: wrap;
    max-width: 212px;
    margin-bottom: 0;
}
.header.links li{
    list-style: none;
    margin: 0;
    color:  #7e807e;
}
.header.links li:last-child{
    margin-left: 3px;
}
.header.links li:last-child:before{
    content:'or';
    margin-right: 2px;
}
.header.links li.authorization-link:before{
    content: none;
}
.header.links li.authorization-link{
    margin-left: 0;
}
.header.links a{
    color:  #ffa800;
    font-weight: 600;
}
.greet.welcome{
    width: 100%;
}

.minicart-wrapper{
    order: 4;
    margin-right: 12px;
    margin-left: 0;
}
.minicart-wrapper .action.showcart:before{
    content: '' !important;
    width: 39px;
    height: 28px;
    background: url("../images/basket.png") no-repeat;
}
.minicart-wrapper .action.showcart .counter.qty{
    border-radius: 50%;
    background-color:  #ffa800;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: -5px;
    display: flex !important;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.minicart-wrapper .action.showcart .counter-number{
    text-shadow: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}
.product-item .price-box .price{
    font-size: 16px;
    font-weight: 600;
}
.nav-sections{
    background-color:  #5a6465;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
}
.navigation{
    background: transparent;
}
.navigation .level0>.level-top{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid transparent;
}
.navigation .level0>.level-top:hover, .navigation .level0>.level-top.ui-state-focus,.navigation .level0.active>.level-top, .navigation .level0.has-active>.level-top{
    color: #fff;
    border-color: #ffa800;
}
.product-item-actions .actions-primary+.actions-secondary>.action{
    color: #9a9a9a;
}
.navigation .level0{
    margin: 0 15px;
}
.product-reviews-summary{
    display: none;
}
.owl-stage{
    display: flex;
}
.owl-stage .product-image-container{
    width: 100% !important;
}
.owl-stage .owl-item{
    flex-shrink: 0;
}
.owl-stage-outer{
    overflow: hidden;
}
.page-layout-1column .block.widget .products-grid .product-item{
    width: 100%;
    margin-bottom: 0;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active{
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
}
.block.widget .products-grid .product-items{
    position: relative;
}
.block-new-products .block-title{
    text-align: center;
}
.block-new-products .block-title strong{
    color:  #5a6465;
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
}
.block-new-products .block-title p{
    color:  #5a6465;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.owl-prev{
    width: 18px;
    height: 65px;
    background: url("../images/left-arrow.png") no-repeat center;
    float: left;
    margin-left: -40px;
}
.owl-next{
    width: 18px;
    height: 65px;
    background: url("../images/right-arrow.png") no-repeat center;
    float: right;
    margin-right: -40px;
}
.owl-nav{
    position: absolute;
    top: 50%;
    margin-top: -33px;
    left: 0;
    width: 100%;
}
.block.newsletter .title{
    display: block;
    margin-bottom: 15px;
}
.page-main{
    padding: 0 10px;
}
.block.newsletter .title strong{
    font-weight: 600;
}
.block.newsletter{
    width: 300px;
    order: 2;
    flex-shrink: 0;
}
.block.newsletter .actions{
    display: block;
    width: 100%;
}
.block.newsletter .action.subscribe{
    margin-left: 0;
    background-color:  #505050;
    border-color: #505050;;
    width: 140px;
    height: 32px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0;
}
.block.newsletter .field{
    margin-bottom: 10px;
}
.block.newsletter .field .control:before{
    content: none;
}
.block.newsletter input{
    padding-left: 10px;
}
.footer.content{
    display: flex;
    justify-content: space-between;
    padding: 40px 10px 0;
}
.footer-menu{
    order: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 140px;
}
.footer-menu a{
    color:  #919191;
    line-height: 24px;
    text-decoration: none ;
}
.footer-menu a:hover{
    color:  #174f94;
    font-weight: 600;
}
.footer.content ul{
    padding-right: 0;
    min-width: 180px;
}
.footer.content ul.account-menu{
    margin-bottom: 25px;
}
.footer-menu .footer-menu-label{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer-menu  .social-menu{
    display: flex;
}
.footer-menu  .social-menu li{
    width: 35px;
    height: 35px;
    margin-right: 7px !important;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:  #a1a1a1;
}
.social-menu i{
    color: #f4f4f4;
}
